* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.cnt{
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.new{
flex-direction: column;
 text-align: center; 
padding: 20px;
 max-width: 600px;
}


main{
    width: 500px;
    height: 500px;
    position: relative;
}


.bg-img {
    position: absolute;

    width: 500px;
    height: 500px;
  

}

.bg-img2 {
    position: relative;
    height: 200px;
    width: 150px;
}


.btns{
    margin-top: 20px;
    display: flex;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
