#para {
    color: aqua;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-indent: 100px;
    text-shadow: 2px 2px 2px red;
    text-overflow: ellipsis;
    white-space: nowrap;
}