* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.headerCnt {
    height: 50px;
    width: 100%;
    border: 1px solid #322e32;
}

.logoCnt {
    height: inherit;
    width: 10%;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.logoCnt img {
    height: 40px;
}

.sidebar {
    height: calc(100vh - 50px);
    width: 200px;
    background-color: #3e3737;
}


.box {
    height: 40px;
    width: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    padding-left: 12px;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;



}

.box:hover {
    background-color: #0c0c0c;
    cursor: pointer;
}