* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #efefef;
}
header {
  height: 50px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.allLinks {
  list-style-type: none;
  margin: 5px;
  padding: 4px;
}
.search {
  margin: auto;
  padding: auto;
}

.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
  width: 100%;
}
.mini {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 10px;
}
