* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    height: 100%;
    width: 100%;
    background-color: black;
}



/* div{
    height: 300px;
    width: 300px;
    background-color: crimson;
} */
/* h1{
    color: rgb(182, 90, 90);
    
}
#a{
    background-color: blue;
}
.q{
    background-color: green;
} */


/* #box{
     height: 200px;
     width: 200px;
     background-color: coral;
     margin: 50px;
     padding-left: 20px;
     padding-top: 30px;
    

} */


/* #parent{
    height: 300px;
    width: 300px;
    background-color: brown;
}
#child{
    height: 50%;
    width: 50%;
    background-color: cadetblue;
} */


/* button{
    margin:   40px;
    padding: 5px;
    font-size: 20px;
    border-radius: 50px;
    background-color: aqua;
    color: brown;
    font-weight: 600;
    border: 2px solid red;



  
}
button:hover{
    background-color: darkgoldenrod;
}

#one{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% -50%);
    background-color: aqua;
    height: 20px;
    width: auto;


} */

/* 
h1 { 
    position: absolute;
     left: 50%;
      top: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
     font-size: 50px;

     }

     h1 span{
        font-size: 50px;
        border-radius: 10px;
        background-color: aqua;
        font-weight: 500;
        color: rgb(240, 233, 245);
        padding: 15px 30px;

     } */
/* 
      display flex */

#parent {
    height: 100vh;
    /* full viewport height */
    width: 100%;
    background-color: rgb(17, 17, 17);
    display: flex;
    align-items: center;
    /* vertical center */
    justify-content: space-evenly;
    /* horizontal spacing */
    gap: 2px;
}


.child {
    height: 200px;
    width: 200px;
    background-color: crimson;
    border: 3px solid white;
    background-image: url(https://images.unsplash.com/photo-1767865654598-430f977d28f4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzfHx8ZW58MHx8fHx8);
    background-size: cover;
    background-position: center;
}

#child2 {
    background-image: url(https://images.unsplash.com/photo-1767866759127-942a72050d30?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;

}

#child3 {
    background-size: cover;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1767867102530-b757e80a55c9?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);

}