* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  width: 100%;
  border: 1px solid gray;
  background: gray;
  display: flex;
}

.logo {
  height: inherit;
  width: 15%;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.allLinks {
  height: inherit;
  width: 60%;
  /* border: 2px solid blue; */
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-evenly;
}

.menu {
  height: inherit;
  width: 10%;
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box {
  height: 150px;
  width: 150px;
  border: 2px solid;
  margin-bottom: 20px;
}

#footer {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid;
  justify-content: space-evenly;
}

.foot {
  height: 150px;
  width: 150px;
  border: 2px solid;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  /* tab */
  .allLinks {
    display: none;
  }

  .box {
    width: 200px;
    height: 150px;
    border: 2px solid;
  }
}

@media (min-width: 577px) and (max-width: 993px) {
}

@media (min-width: 994px) {
  .menu {
    display: none;
  }
}
