* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  position: relative;
  height: 150px;
  width: 150px;
  border: 1px solid;
  background-color: aqua;
}

.box {
  border-radius: 30px;
  height: 150px;
  width: 150px;
  position: absolute;
}

.first1 {
  top: 50px;
  left: 50px;
  background-color: blueviolet;
  z-index: 2;
}

.first2 {
  top: 150px;
  left: 150px;
  background-color: brown;
  margin: 20px;
}
